
.navbar{

    background-color: #491217;

}

.nav-link{
    color:whitesmoke;
}

.navbar-toggler{
    background-color:whitesmoke;
}

body{

    background-color: lightsalmon;
    color: black;

}

html, body, h1, h2, h3, h4, h5, h6 {
  font-family: "Lobster", serif;
}


#btnCambiarEstilo {
    background-color: transparent;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 20px;
}

#tablaPosiciones{
    border: 2px solid whitesmoke;
    border-radius: 20px;
}

h1{

  color: black;

}
