{% extends 'layout.twig' %}

{% block content %}
<div class="feedgrabbr_widget" id="fgid_02b980d72fe5df00bec293b5a"></div>
<script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_02b980d72fe5df00bec293b5a");</script>
<script async src="https://www.feedgrabbr.com/widget/fgwidget.js"></script>
{% endblock %}
